<header>
  <h1>{{header.title}}</h1>
  <a
    href={{header.button.link}}
    class='btn btn-outline-secondary'
  >{{header.button.text}}</a>
</header>

<hr class='my-5' />

<section>
  {{#each goodsBlock}}
    {{> cartGoodsItem}}
  {{/each}}
</section>

<hr class='my-5' />

<section>
  {{#with total}}
    <h3>{{title}}</h3>
    <strong class='display-4 fw-bold'>{{amount}}</strong>
    <div>{{delivery}}</div>
    <div class='my-5'>
      {{#each buttons}}
        {{#if isSuccess}}
          <div class='mb-3'>
            <a
              href={{link}}
              class='btn btn-success'
            >{{text}}</a>
          </div>
        {{/if}}
        {{#if isOutline}}
          <div class='mb-3'>
            <a
              href={{link}}
              class='btn btn-outline-success'
            >{{text}}</a>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/with}}
</section>

<hr class='my-5' />

  <section class='row my-5'>
    <h2 class='text-center'>{{goodsOtherBlock.title}}</h2>
    {{#each goodsOtherBlock.cards}}
    <div class="col-4 my-4">
     {{> shopcard card=this}}
    </div>
    {{/each}}
  </section>
  <hr  class='my-5'/>
{{> shopsubscribe}}

