<div>

  <section class='mt-5'>
    <div class='display-5 text-center'>{{newsBlock.title}}

    </div>

    <div class='row g-2 mt-2'>
      {{#each newsBlock.cards}}
        <div class='col-3'>
          <div class='card text-bg-dark'>
            <div class='card-header'>
              {{title}}
              {{#if isNew}}
                <span
                  class='badge text-bg-success rounded-pill'
                >New</span>
              {{/if}}
              {{#if isTop}}
                <span
                  class='badge text-bg-danger rounded-pill'
                >Top</span>
              {{/if}}
            </div>
            <p class='card-body'>{{description}}</p>
          </div>
        </div>
      {{/each}}
    </div>

  </section>

  <hr class='my-5' />

  <section class='row'>
    <nav class='col-12 nav nav-tabs mb-3'>
      {{#each goodsBlock.tabs}}

        <a href='#' class='nav-link 
        {{#if isActive}}active{{/if}}
        {{#if isDisabled}}
        text-succesery
        disabled
        {{/if}}
        '>{{text}}</a>

      {{/each}}
    </nav>

    {{#each goodsBlock.cards}}
      <div class='col-4 g-4'>
        {{> shopcard card =this}}
      </div>
    {{/each}}
  </section>

  <hr class='my-5' />

  <section class='alert text-bg-dark'>
    {{#with subscribe}}
      <h2>{{header}}</h2>
      <div class='d-flex justify-content-between'>
        <p>{{description}}</p>
        <a
          href={{buttons.0.link}}
          class='btn btn-primary'
        >{{buttons.0.text}}</a>
      </div>
      <a
        href={{buttons.1.link}}
        class='btn btn-primary'
      >{{buttons.1.text}}</a>
    {{/with}}
  </section> 

  <hr class='my-5' />
  
  {{> shopaction service = service}}
  <hr class='my-5' />
</div>