<div class='card'>
  <img src={{img}} alt='' class='card-top-img' />
  <div class='card-body'>
    <div class='card-title'>
      <b>{{title}}</b>
      <div>
        {{#if isHot}}
          <span
            class='badge text-bg-warning rounded-pill'
          >HOT</span>
        {{/if}}
        {{#if isNew}}
          <span
            class='badge text-bg-primary rounded-pill'
          >NEW</span>
        {{/if}}
      </div>
      <div class='mt-4'>
        {{#if isFast}}
          <span class='badge text-bg-success p-2'>Швидка
            доставка</span>
        {{/if}}
      </div>
      <div class='mt-4'>
        {{#if isFree}}
          <span
            class='badge text-bg-secondary p-2'
          >Безкоштовна доставка</span>
        {{/if}}
      </div>

      <h4 class='mt-3'>{{name}}</h4>

      <span>{{review.amount}} {{review.text}}</span>
      <h3>{{price}}</h3>

      <div class='my-3'>
        <a
          href={{buttons.0.link}}
          class='btn btn-primary'
        >{{buttons.0.text}}</a>
      </div>
      <div class='my-3'>
        <a
          href={{buttons.1.link}}
          class='btn btn-secondary'
        >{{buttons.1.text}}</a>
      </div>

      <ul>
        {{#each characteristics}}
          <li><span>{{title}}: {{value}}</span></li>
        {{/each}}
      </ul>
    </div>
    <p>{{description}}</p>
  </div>

</div>